openapi: 3.0.0
info:
  title: DevConnect API
  version: 1.0.0
paths:
  /api/developers:
    get:
      summary: Get all developers
      responses:
        '200':
          description: A list of developers
    post:
      summary: Create a developer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                skills:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Developer created
  /api/projects:
    get:
      summary: Get all projects
      responses:
        '200':
          description: A list of projects
    post:
      summary: Create a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '201':
          description: Project created
  /api/projects/{id}:
    put:
      summary: Update a project
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '200':
          description: Project updated
    delete:
      summary: Delete a project
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project deleted
  /api/tools:
    get:
      summary: Get all tools
      responses:
        '200':
          description: A list of tools
    post:
      summary: Create a tool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tool'
      responses:
        '201':
          description: Tool created
  /api/tools/{id}:
    put:
      summary: Update a tool
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tool'
      responses:
        '200':
          description: Tool updated
    delete:
      summary: Delete a tool
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tool deleted
components:
  schemas:
    Developer:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        email:
          type: string
        skills:
          type: array
          items:
            type: string
        bio:
          type: string
        location:
          type: string
        github:
          type: string
        website:
          type: string
    Project:
      type: object
      properties:
        _id: { type: string }
        title: { type: string }
        description: { type: string }
        techStack:
          type: array
          items:
            type: string
        developer: { type: string }
    Tool:
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        category: { type: string }
        project: { type: string }